
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Little library!</title>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Book List</span>
    </div>
</nav>

<h2>Welcome</h2>
<p>Spring Security Thymeleaf tutorial</p>
<div sec:authorize="hasRole('USER')">Text visible to user.</div>
<div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
<div sec:authorize="isAuthenticated()">Text visible only to
    authenticated users.</div>
Authenticated username:
<div sec:authentication="name"></div>
Authenticated user roles:
<div sec:authentication="principal.authorities"></div>

<div class="container mt-5">


    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Price</th>
            <th scope="col">Publish Data</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="book:${books}">
            <td th:text="${book.author}">John Doe</td>
            <td th:text="${book.title}">John Doe</td>
            <td th:text="${book.genre}">John Doe</td>
            <td th:text="${book.price}">John Doe</td>
            <td th:text="${book.publishDate}">John Doe</td>
            <td th:text="${book.description}">John Doe</td>

            <td th:switch="${book.available}">
                <p th:case="true"><button type="button" class="btn btn-outline-success">Borrow</button></p>
                <p th:case="false"><button type="button" class="btn btn-outline-success">Return</button></p>
                <p th:case="*"></p>
            </td>

            <td>
        </tr>

        </tbody>
    </table>

</div>


</body>
</html>